In [6]:
#Q1.bitcoin.com
#Q2.=Base endpoints + link + condition 
  #like:https://api.binance.com/api/v1/klines?symbol=BTCUSDT&interval=1h

In [26]:
import requests
import datetime
import json
import pandas as pd
import time

In [27]:
ROOT_URL = "https://api.binance.com"
date = '2021-06-15'
unix_time = 1000 * int(time.mktime(datetime.datetime.strptime(date, '%Y-%m-%d').timetuple()))
print(unix_time)

1623708000000

In [28]:
# question 3 
   #choose request url
end_point = "api/v3/klines"
symbol = "BTCUSDT"
interval = "5m"
limit = "75"
req  = f"{ROOT_URL}/{end_point}?symbol={symbol}&interval={interval}&startTime={unix_time}&limit={limit}"

print(req)

https://api.binance.com/api/v3/klines?symbol=BTCUSDT&interval=5m&startTime=1623708000000&limit=75

In [29]:
#send request to the binance and receive a response
resp = requests.get(req)

In [30]:
# convert to DataFrame
data = pd.DataFrame.from_records(
    resp.json(),
    columns=["open time","open", "high", "low", "close","volumne","Close time","Quote asset volumne","#trades","t buy base volumn","t buy quote a volumn","ignore"]
)
#data.index = data.pop("opentime").map(datetime.datetime.fromtimestamp)
data = data[["open time","open", "high", "low", "close"]]
data['open time']=data['open time']/1000
data.index = data.pop("open time").map(datetime.datetime.fromtimestamp)
print(data)

                               open            high             low  \
open time
2021-06-15 00:00:00  40270.00000000  40362.92000000  40184.02000000
2021-06-15 00:05:00  40320.72000000  40400.00000000  40250.33000000
2021-06-15 00:10:00  40268.09000000  40296.11000000  40175.89000000
2021-06-15 00:15:00  40231.08000000  40283.95000000  40079.42000000
2021-06-15 00:20:00  40098.03000000  40211.57000000  40031.36000000
...                             ...             ...             ...
2021-06-15 05:50:00  40472.47000000  40600.00000000  40472.47000000
2021-06-15 05:55:00  40477.59000000  40499.99000000  40323.91000000
2021-06-15 06:00:00  40403.13000000  40472.09000000  40285.71000000
2021-06-15 06:05:00  40459.67000000  40500.00000000  40308.58000000
2021-06-15 06:10:00  40338.05000000  40398.31000000  40300.00000000

                              close
open time
2021-06-15 00:00:00  40320.72000000
2021-06-15 00:05:00  40268.09000000
2021-06-15 00:10:00  40231.08000000
2021-06-15 00:15:00  40098.04000000
2021-06-15 00:20:00  40183.65000000
...                             ...
2021-06-15 05:50:00  40477.59000000
2021-06-15 05:55:00  40404.86000000
2021-06-15 06:00:00  40459.68000000
2021-06-15 06:05:00  40338.05000000
2021-06-15 06:10:00  40378.00000000

[75 rows x 4 columns]

In [34]:
# Q4 Write a function retrieves 75 observations of klines data for a generic currency pair since a generic date.(currency pair and start date as input parameters)

def get_binanc_klines(currency,since):
    import requests
    import datetime
    import json
    import pandas as pd
    import time

    ROOT_URL = "https://api.binance.com"
    date = since
    unix_time = 1000 * int(time.mktime(datetime.datetime.strptime(date, '%Y-%m-%d').timetuple()))

   #choose request url
    end_point = "api/v3/klines"
    symbol = currency
    interval = "5m"
    limit = "75"
    req  = f"{ROOT_URL}/{end_point}?symbol={symbol}&interval={interval}&startTime={unix_time}&limit={limit}"


#send request to the binance and receive a response
    resp = requests.get(req)

# convert to DataFrame
    data = pd.DataFrame.from_records(
        resp.json(),
        columns=["open time","open", "high", "low", "close","volumne","Close time","Quote asset volumne","#trades","t buy base volumn","t buy quote a volumn","ignore"]
    )
#data.index = data.pop("opentime").map(datetime.datetime.fromtimestamp)
    data = data[["open time","open", "high", "low", "close"]]
    data['open time']=data['open time']/1000
    data.index = data.pop("open time").map(datetime.datetime.fromtimestamp)
    return data

In [35]:
get_binanc_klines("BTCUSDT",'2021-06-15')

,open,high,low,close
open time,,,,
2021-06-15 00:00:00,40270.00000000,40362.92000000,40184.02000000,40320.72000000
2021-06-15 00:05:00,40320.72000000,40400.00000000,40250.33000000,40268.09000000
2021-06-15 00:10:00,40268.09000000,40296.11000000,40175.89000000,40231.08000000
2021-06-15 00:15:00,40231.08000000,40283.95000000,40079.42000000,40098.04000000
2021-06-15 00:20:00,40098.03000000,40211.57000000,40031.36000000,40183.65000000
...,...,...,...,...
2021-06-15 05:50:00,40472.47000000,40600.00000000,40472.47000000,40477.59000000
2021-06-15 05:55:00,40477.59000000,40499.99000000,40323.91000000,40404.86000000
2021-06-15 06:00:00,40403.13000000,40472.09000000,40285.71000000,40459.68000000
2021-06-15 06:05:00,40459.67000000,40500.00000000,40308.58000000,40338.05000000
2021-06-15 06:10:00,40338.05000000,40398.31000000,40300.00000000,40378.00000000