In [17]:
import pandas as pd
import numpy as np
import time

df= pd.DataFrame(np.random.rand(1000000,4),columns=["a", "b","c","d"])
df['dcopy']=df['d']
# df.columns =['a', 'b', 'c', 'd','d_copy']
df.head()

          a         b         c         d     dcopy
0  0.833105  0.160427  0.938389  0.553264  0.553264
1  0.317647  0.193171  0.377854  0.167404  0.167404
2  0.141341  0.750913  0.289142  0.535491  0.535491
3  0.799698  0.048478  0.153318  0.358700  0.358700
4  0.016080  0.024034  0.161726  0.396849  0.396849

In [18]:
import time
st=time.time()
df.to_csv('random_dataframe_DT.csv')
et=time.time()
Exec_time=et-st
print('Execution Time:',Exec_time,'seconds')

Execution Time: 8.397636413574219 seconds

In [19]:
import time
st=time.time()
df.to_hdf('random_dataframe_DT_hdf.txt',key='df', mode='w')
et=time.time()
Exec_time=et-st
print('Execution Time:',Exec_time,'seconds')

Execution Time: 0.15949654579162598 seconds

In [20]:
import time
from fastparquet import write
st=time.time()
write('random_dataframe_DT_parq.txt', df)
et=time.time()
Exec_time=et-st
print('Execution Time:',Exec_time,'seconds')

Execution Time: 0.22101521492004395 seconds

In [21]:
import time
import pyarrow 
st=time.time()
df.to_feather('random_dataframe_DT_feather.txt')
et=time.time()
Exec_time=et-st
print('Execution Time:',Exec_time,'seconds')

Execution Time: 0.047287940979003906 seconds